# LaTeX temporary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb

# Build folders
build/
output/

# OS files
.DS_Store
Thumbs.db

# Optional: ignore compiled PDFs
# *.pdf